<div class="container">
  <div class="row">
    <app-listado></app-listado>
    <br>

    <h2>Data Binding</h2>
    <h3>Hola, mi nombre es {{nombre}}</h3>
    <h3>La suma de 5 + 5 es igual a {{getSuma(5,5)}}</h3>

    <hr>
    <h2>Property Binding</h2>
    <input type="text" class="form-control" [placeholder]="textoPlaceholder" [disabled]="disabledInput">
    <br><br>

    <img [src]="img1" alt="img" width="100" height="100">

    <hr>
    <h2>Event Binding</h2>
    <h3>{{textoEventBinding}}</h3>
    <button class="btn btn-primary" (click)="cambiarTexto()">Click Me</button>

    <hr>
    <h2>Two Way Data Binding</h2>
    <input type="text" clase="form-control" placeholder="Escribir algo aquí" [(ngModel)]="textoTwoDataBinding">
    <br>
    Texto replicado del cuadro input: 
    <i>{{textoTwoDataBinding}}</i>
  </div>
</div>